{% extends 'base.html' %} {% load static %} {% block content %}
<form
  method="POST"
  enctype="multipart/form-data"
  action="{% url 'add_record' %}"
  id="addRecordForm"
>
  {% csrf_token %}
  <div class="mb-3">
    <label for="recordLabel" class="form-label">Add Record</label>
    <div class="form-group row">
      <input type="file" id="inputFilename" />
    </div>
    <div>
      <img
        id="preview_image"
        src="{% static '/media/logo.png' %}"
        width="256"
        height="256"
      />
    </div>

    <div class="form-group row">
      <label for="inputTags" class="col-sm-2 col-form-label">Tags</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputTags" name="tags" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputType" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-10">
        <select id="inputType" name="type">
          {% for type in types %}
          <option value="{{ type.id }}">{{ type.type }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputSourcePlatform" class="col-sm-2 col-form-label"
        >Source Platform</label
      >
      <div class="col-sm-10">
        <select id="inputSourcePlatform" name="source_platform">
          {% for platform in platforms %}
          <option value="{{ platform.id }}">{{ platform.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
      <div class="col-sm-10">
        <input
          type="text"
          class="form-control"
          id="inputAuthor"
          name="author"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputURL" class="col-sm-2 col-form-label">URL</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputURL" name="url" />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEdited" class="col-sm-2 col-form-label">Edited</label>
      <div class="col-sm-10">
        <input
          type="checkbox"
          class="form-check-input"
          id="inputEdited"
          name="edited"
        />
      </div>
    </div>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-primary">Add</button>
</form>
{% endblock content %} {% block scripts %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const inputFilename = document.getElementById("inputFilename");
    const previewImage = document.getElementById("preview_image");

    const form = document.getElementById("addRecordForm");
    const submitBtn = document.getElementById("submitBtn");

    inputFilename.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const fileType = file.type.split("/")[0];
          if (fileType === "image") {
            previewImage.src = e.target.result;
          } else if (fileType === "video") {
            previewImage.src = "";
            const video = document.createElement("video");
            video.src = e.target.result;
            video.width = 256;
            video.height = 256;
            video.controls = true;
            previewImage.parentNode.replaceChild(video, previewImage);
          }
        };
        reader.readAsDataURL(file);
      }
    });

    /*
    form
      .addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent form submission

        var fileInput = document.getElementById("inputFilename");
        var fileName = fileInput.files[0].name;

        var hiddenName = document.getElementById("hiddenName");
        hiddenName.value = fileName;

        //alert("Selected File: " + fileName);
        document.getElementById("addRecordForm").submit();
      });
  */
    form.addEventListener("submit", function (event) {
      const file = inputFilename.files[0];
      console.log("called submit");
      if (file) {
        // Create a hidden input field for the file name
        console.log("called submit continuation");
        const fileNameInput = document.createElement("input");
        fileNameInput.type = "hidden";
        fileNameInput.name = "fileName";
        fileNameInput.value = file.name;
        form.appendChild(fileNameInput);
        console.log(fileNameInput);

        // Create a hidden input field for the thumbnail image
        const thumbnailInput = document.createElement("input");
        thumbnailInput.type = "hidden";
        thumbnailInput.name = "thumbnail";
        thumbnailInput.value = previewImage.src;
        form.appendChild(thumbnailInput);
        console.log(thumbnailInput);
      }
    });

    // Manually trigger form submission when submit button is clicked
    submitBtn.addEventListener("click", function () {
      form.submit();
    });
  });
</script>
{% endblock scripts %}
